<ion-header>
  <ion-toolbar class="header">
    <div class="w-full flex">
      <div class="lg:w-9/12 md:w-8/12 flex justify-start items-center">
        <p class="font-lato font-bold text-white ml-2">Dasboard</p>
      </div>
      <div class="lg:w-3/12 md:4/12">
        <div class="mr-3">
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-3 h-3 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              type="search"
              id="default__search"
              class="block h-2 w-full p-4 ps-10 text-white text-sm border rounded-2xl bg-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-900 focus:outline-none"
              placeholder="Search Dashboards"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<div class="h-screen custom_grey" >
  <div echarts [options]="chartOption" class="demo-chart"></div>

</div>
